<!DOCTYPE html>
<html>
<head>
  <title>edwardhalferty.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="login-header">
    <% if signed_in? %>
      Signed in as <%= current_user.name %>
      <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
    <% else %>
      <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
    <% end %>
    <% if is_admin? %><%= link_to 'New Post', new_post_path %><% end %>
  </div>
  <div class="page-container">
    <%= yield %>
  </div>
</body>
</html>
